/* body has alreday some margin so make it 0; */

body {
  margin: 0px;
}

/* BODY HEADER  */
#body-header {
  /* the image not show becuase the height is 0 or since the parent container doesn't have height also so it collapse and it height is 0 the solution is that you can give parent container height  */
  background-image: url(image/macbook_mouse.jpg);
  height: 65vh;
  /* we know that it is block element so it take whole width but the image is big so we have to set it  */
  background-size: cover;
  background-position: center;
  /* we want some burlly effect also  */
  opacity: 0.8;
  /* also want to fixed the image when we scroll to look good  */
  background-attachment: fixed;
}

/* HORIZONTAL LIST  */

/* first i have to remove the dot of list so we create a horizontal class  */

.horizontal-lists {
  list-style: none;
  /* we can see still there are some padding there  */
  padding-left: 0px;
  /* also want to make text center  but wirte it again where where we make a different class */
  /* text-align: center; */
  /* still there is some space above the background image that is becuase of margin of list  */
  margin: 0px;
}
/* now want to make list horizontal  */
.horizontal-lists li {
  display: inline-block;
  /* now want some margin also  */
  margin: 0px 8px 0px 8px;
}
/* now i want to remove the anchor tag color and line  */
.horizontal-lists li a {
  text-decoration: none;
  color: white;
  /* we also want the smooth trastion to look good  */
  /* transition: color 0.5s, border-bottom 0.5s; */
}
.nav-menu li a {
  transition: color 0.5s, border-bottom 0.5s;
}

/* now i want to come back the decoration when i hover  */
/* .horizontal-lists li a:hover {
  color: lightgray;
  border-bottom: 1px solid white;
} */

.nav-menu li a:hover {
  color: lightgray;
  border-bottom: 1px solid white;
}

/* NAME AND SOCIAL ICONS   */
#name-social-container {
  margin-top: 30vh;
}
#my-name {
  color: white;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.1rem;
  font-weight: 700;
}
/* set padding for icon  */
.social-icons li a i {
  padding: 10px;
  font-size: 1rem;
  border-radius: 50%;
  /* now i want to circle around the icon  */
}
/* now i want some shadow for this and also want to remove the underline when hover on the icon but it come form the horizontal-lists so we have to give specific class to that property which affect it  */
.social-icons li a i:hover {
  box-shadow: 0px 0px 4px rgba(230, 196, 196, 0.2);
}
/* make all section flex  */
section {
  width: 100%;
  /* we can't see any section so we set the height: */
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* alternate color the section  */

section:nth-child(2n) {
  background-color: lightgray;
}
section:nth-child(2n + 1) {
  background-color: white;
}
section:target {
  background-color: cyan;
}
.section-heading {
  width: auto;
  /* margin: 10px auto; */
  font-weight: 400;
  padding: 20px 10px 10px;
}
.section-heading span {
  font-size: 40px;
  color: #2857a4;
  display: inline-block;
  padding-top: 10px;
  margin-right: 0.5rem;
}

/* ABOUT SECTION  */
#about {
  height: auto;
  width: 100%;
  position: relative;
}
/* height of image is too big so we have to first set the parent height and width and then imag  */
#my-image {
  height: 12rem;
  width: 12rem;
  /* now bring img at center by margin auto  */
  margin: auto;
  margin-top: -17vh;

  /* but the problem is that the img come under the background image to do that we use the position relative */
}
#my-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 2px rgba(230, 196, 196, 0.2);
  border: 2px solid white;
}
#about-para {
  height: 100%;
  width: 70%;
  margin: auto;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: gray;
  line-height: 28px;
  font-weight: 100;
  font-size: 1.1rem;
}

/* SKILLS SECTION  */
.skills-display {
  /* width: 70%; */
  width: 40%;
  height: 100px;
  /* border: 2px solid black;  */
  /* now make this to center so we know that it is flex box so by align item  */
  /* now all the skills are flex so  */
  display: flex;
  /* not in one line so  */
  flex-wrap: wrap;

  /* i want space between equal  */
  justify-content: space-between;
}

/* set div inside div for skill percentage view using color  */
.skill-progress {
  background-color: lightgrey;
  height: 1.4rem;
  width: 4rem;
  border-radius: 0.8rem;
  border: 2px solid black;
}

/* on the direct child div  */
.skill-progress > div {
  border-radius: 20px 0px 0px 20px;
}

.skill-name span {
  color: white;
  font-size: 1rem;
  margin-left: 5px;
}

/*TineLine*/
.timeline {
  position: relative;
  width: 7%;
  border: 2px solid black;
}
.timeline-box {
  position: relative;
  margin: 5px;
  width: 40%;
  left: 5%;
  min-height: 150px;
  border: 2px solid black;
}
.timeline-box:nth-child(2n) {
  left: 53%;
}
.timeline-box:nth-child(2n + 1)::after {
  content: "";
  position: absolute;
  top: 30%;
  right: -13%;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: red;
}

.timeline-box:nth-child(2n)::after {
  content: "";
  position: absolute;
  top: 30%;
  left: -13%;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: red;
  z-index: 1;
}
.timeline-divider {
  position: absolute;
  height: 75%;
  width: 0;
  border: 3px dashed #0096fafb;
  top: 10%;
  left: 50%;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .timeline-divider {
    left: 5%;
  }
  .timeline-box {
    left: 12% !important;
    width: 80%;
  }
  .timeline-box::after {
    left: -12px !important;
  }
  /* .timeline-box.timeline-box:nth-child(2n + 1)::after{
    left: -12%;
  }
  timeline-box.timeline-box:nth-child(2n)::after{
    left: -12%;
  } */
  /* .timeline-box:nth-child(2n) {
    left: 12%;
  } */
}

.timeline-traveller {
  position: sticky;
  top: 30%;
  transform: rotate(90deg);
  z-index: 2;
}
/*Portfolio Section*/
#portfolio-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 50px;
  margin-bottom: 2%;
  justify-content: space-around;
}
/* common margin classes  */
.mb75px {
  margin-bottom: 75px;
}
/* common text center  */
.text-center {
  text-align: center;
}

/* COMMON COLOR CLASSES */
.text-highlight {
  color: #2857a4;
  font-weight: 600;
}
.mb-blue {
  background-color: #2857a4;
}
.mb-red {
  background-color: red;
}
.mb-purple {
  background-color: purple;
}
.mb-violet {
  background-color: violet;
}
.mb-green {
  background-color: green;
}

/* PERCENTAGE CLASSES  */
.eight-five-percent {
  width: 85%;
  height: inherit;
  /* border-radius: 0.8rem; */
}
